.jackpotBetCard {
  width: 170px;
  height: auto;
  border-radius: 1rem;
  background-image: url("../../assets/images/jackpotBet-card-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
.jackpotBetMargin {
  margin-top: 3rem;
}
.btnCustom.jackpotBet {
  width: 100px !important;
  height: 35px !important;
  font-size: 12px;
}
.submitBet{
    padding-top: 8rem;
    text-align: center;
}
